.layout {
  padding: 0 12px 12px 12px;
  margin-top: 12px;
}

.noPosts {
  padding-top: 200px;
  width: 100%;
  text-align: center;
}

.noFavPosts {
  padding-top: 200px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
